<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListeners"></listener>
    </listeners>
    <test parallel="methods" thread-count="2" preserve-order="true" name="D:/Test/Simplesurance_Task">
        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.InsuranceTest"></class>
        </classes>
    </test>
</suite>